In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
#Importa turmas ingressantes de 2017 a 2015
url_ingressantes2017_1 = 'http://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/79071c21-e32c-438f-b930-d1b6ccc02ec2/download/matricula-componente-20171'
url_ingressantes2017_2 = 'http://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/55dfe713-ff7c-4fa8-8d1d-d4294a025bff/download/matricula-componente-20172'
url_ingressantes2016_1 = 'http://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/4778d3ce-8898-46a8-a623-ee6a480a2980/download/matriculas-de-2016.1.csv'
url_ingressantes2016_2 = 'http://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/f6179838-b619-4d7d-af9c-18c438b80dd4/download/matriculas-de-2016.2.csv'
url_ingressantes2015_1 = 'http://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/9e7ba1c2-f92d-4b9c-9e91-3b026ecdf913/download/matriculas-de-2015.1.csv'
url_ingressantes2015_2 = 'http://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/baa6c8b4-2072-417f-b238-c028ccc8c14b/download/matriculas-de-2015.2.csv'

#Cria dataframe com as turmas importadas
df_ingressantes2017_1 = pd.read_csv(url_ingressantes2017_1, sep=';')
df_ingressantes2017_2 = pd.read_csv(url_ingressantes2017_2, sep=';')
df_ingressantes2016_1 = pd.read_csv(url_ingressantes2016_1, sep=';')
df_ingressantes2016_2 = pd.read_csv(url_ingressantes2016_2, sep=';')
df_ingressantes2015_1 = pd.read_csv(url_ingressantes2015_1, sep=';')
df_ingressantes2015_2 = pd.read_csv(url_ingressantes2015_2, sep=';')

In [3]:
#Inserindo dados em uma lista
matriculas = []

for i in range(15,18):
    for j in range (1,2):
        matriculas.append(vars()['df_ingressantes20%d_%d' % (i, j)])

In [5]:
# concatenando todas as listas em um dataframe
df_matriculas = pd.concat(matriculas)

# limpandos os index após o merge
df_matriculas.reset_index(drop=True,inplace=True)

In [6]:
# verificando inicialmente os dados importados
df_matriculas.tail()

,Unnamed: 10,descricao,discente,faltas_unidade,id_curso,id_turma,media_final,nota,numero_total_faltas,reposicao,unidade
2184548,NaN,APROVADO,7bdfaae8ed8e5bd0a485ac9ea36f9b0b,0.0,107700483.0,57609573,10.0,10.0,0.0,f,2.0
2184549,NaN,APROVADO,7bdfaae8ed8e5bd0a485ac9ea36f9b0b,0.0,107700483.0,57609573,10.0,10.0,0.0,f,1.0
2184550,NaN,APROVADO,88a36d9161c908f6869b5a53a2dcae78,0.0,107700483.0,57609573,10.0,10.0,0.0,f,3.0
2184551,NaN,APROVADO,88a36d9161c908f6869b5a53a2dcae78,0.0,107700483.0,57609573,10.0,10.0,0.0,f,2.0
2184552,NaN,APROVADO,88a36d9161c908f6869b5a53a2dcae78,0.0,107700483.0,57609573,10.0,10.0,0.0,f,1.0

In [7]:
# tamanho dos dados
print(df_matriculas.shape)

# colunas do dataset
print(df_matriculas.columns)

(2184553, 11)
Index(['Unnamed: 10', 'descricao', 'discente', 'faltas_unidade', 'id_curso',
       'id_turma', 'media_final', 'nota', 'numero_total_faltas', 'reposicao',
       'unidade'],
      dtype='object')

In [10]:
# Filtrar o curso de tecnologia da informação, que o código é 92127264

matriculas_imd = df_matriculas[df_matriculas.id_curso == 92127264]
matriculas_imd.reset_index(drop=True, inplace=True)
matriculas_imd.head()

,Unnamed: 10,descricao,discente,faltas_unidade,id_curso,id_turma,media_final,nota,numero_total_faltas,reposicao,unidade
0,NaN,EXCLUIDA,bcd9e4d861acc00fac216bbe953c63b8,NaN,92127264.0,1239422,NaN,NaN,NaN,NaN,NaN
1,NaN,APROVADO,bcd9e4d861acc00fac216bbe953c63b8,0.0,92127264.0,1239422,7.9,7.6,2.0,f,2.0
2,NaN,APROVADO,bcd9e4d861acc00fac216bbe953c63b8,0.0,92127264.0,1239422,7.9,8.4,2.0,f,1.0
3,NaN,APROVADO,bcd9e4d861acc00fac216bbe953c63b8,0.0,92127264.0,1239422,7.9,7.6,2.0,f,3.0
4,NaN,EXCLUIDA,3a3517f48b6be60b7f3a037b5903a1ce,NaN,92127264.0,1239422,NaN,NaN,NaN,NaN,NaN

In [11]:
# Investigando a descrição das matriculas

print(matriculas_imd.descricao.unique())

['EXCLUIDA' 'APROVADO' 'CANCELADO' 'REPROVADO' 'APROVADO POR NOTA'
 'INDEFERIDO' 'REPROVADO POR MÉDIA E POR FALTAS' 'DESISTENCIA' 'TRANCADO'
 'REPROVADO POR FALTAS' 'REPROVADO POR NOTA' 'REPROVADO POR NOTA E FALTA']

In [14]:
# Removendo matriculas que foram excluidas
matriculas_consolidadas = matriculas_imd[matriculas_imd.descricao != 'EXCLUIDA']
matriculas_consolidadas.reset_index(drop=True, inplace=True)
matriculas_consolidadas.head()

,Unnamed: 10,descricao,discente,faltas_unidade,id_curso,id_turma,media_final,nota,numero_total_faltas,reposicao,unidade
0,NaN,APROVADO,bcd9e4d861acc00fac216bbe953c63b8,0.0,92127264.0,1239422,7.9,7.6,2.0,f,2.0
1,NaN,APROVADO,bcd9e4d861acc00fac216bbe953c63b8,0.0,92127264.0,1239422,7.9,8.4,2.0,f,1.0
2,NaN,APROVADO,bcd9e4d861acc00fac216bbe953c63b8,0.0,92127264.0,1239422,7.9,7.6,2.0,f,3.0
3,NaN,CANCELADO,71ded068ae396ef3bb21c15219c4906b,0.0,92127264.0,1239422,NaN,0.0,0.0,f,1.0
4,NaN,CANCELADO,71ded068ae396ef3bb21c15219c4906b,0.0,92127264.0,1239422,NaN,NaN,0.0,f,2.0